/* .timesheet_Nav{
    color: grey;
} */

.timesheet_Nav:hover {
  color: hsla(216, 85%, 24%, 0.877);
}

#b {
  font-size: 0.5rem;
  /* float:right; */
  margin-right: 1rem;
}

.right {
  float: right;
}

.btn_sort {
  margin-right: 1rem;
  color: black;
  background-color: #82919e;
}
#Facolumn {
  cursor: pointer;
  /* padding: 10px 8px 9px 8px; */
  /* padding: 3px 0 0 3px; */
  padding: 0.5rem;

  color: orange;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  margin-top: 2%;
}
.Facolumn {
  cursor: pointer;
  /* padding: 10px 8px 9px 8px; */
  /* padding: 3px 0 0 3px; */
  padding: 0.5rem;

  color: orange;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  margin-top: 2%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 14px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in;
}

.limit {
  margin-left: 90%;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
user agent stylesheet option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.sd1 {
  width: 60px;
  border: 1px solid black;
  padding: 4px;
  font-weight: 600;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 4px 0 0;
  vertical-align: middle;
}

.label1 {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
  margin-top: 0px;
  font-weight: 600;
  color: #666;
  font-size: 14px;
  margin-left: 28px;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
  margin-left: -24px;
}
.col {
  margin-top: 1px;
}
.pagination,
.pagination-info {
  display: flex;
  margin: 1rem 0;
}
