.sign {
  background-color: #fff;
  width: 44rem;
  height: 100%;
}

.sign img {
  width: 16rem;
  margin: 4rem 0rem 2rem 18rem;
}

.sign h2 {
  font-size: 2rem;
  margin: 0rem 0rem 2rem 9rem;
}

.sign form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign input {
  width: 25rem;
  margin: 1rem 1rem;
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.signbtn {
  margin: 2rem 0rem;
  width: 15rem;
  font-size: 1.5rem;
  padding: 6px 6px 6px 6px;
  color: #fff;
  background-color: #005fdceb;
  border-radius: 22px;
  border: none;
}
